.card-container {
    text-align: center;
    align-self: center;
}

@media (min-width: 300px) { 
    .card-img {
        max-width: 50vw;
    }
}

@media (min-width: 768px) { 
    .card-img {
        width: 130px;
    }
}


.card-price {
    font-weight: bold;
    font-size: xx-large;

    & .card-format {
        font-size: x-large;
    }
}
