<div class="card">
<div class="card-body">
	<div class="row"></div>
	<div class="row">
		<div class="col-md-3 card-container">
			<img [src]="data.image_url" class="card-img"/>
		</div>
		<div class="col-md">
			<h3>{{ data.name }}</h3>
			<p>{{ data.expansion_name }}</p>
			<p>{{ data.rarity_name }}</p>
			<p>{{ data.collector_number }}</p>
		</div>
	</div>

	<!-- <div class="btn-group-form d-flex justify-content-start ms-2 mt-3">
	<button type="button" class="btn btn-primary" (click)="export()">
		<i class="fas fa-file-export"></i> Exportar
	</button>
	</div> -->
</div>
</div>