<ng-template #rt let-r="result" let-t="term">
	<img [src]="r['image_url']" class="me-3" style="width: 25px" />
	<ngb-highlight [result]="r.fullName" [term]="t"></ngb-highlight>
</ng-template>

<div class="mb-3 row">
	<div class="col">
		<div class="input-group">
			<input
				id="typeahead-template"
				type="text"
				class="form-control"
				[(ngModel)]="model"
				[ngbTypeahead]="search"
				[resultTemplate]="rt"
				[inputFormatter]="formatter"
				[resultFormatter]="formatter"
				[editable]="false"
				placeholder="Buscar una carta..."
			/>
			<button class="btn btn-primary" type="button" id="button-agregar" (click)="agregarCarta()">
				<fa-icon icon="magnifying-glass"></fa-icon>
			</button>
		</div>
		<small *ngIf="searching" class="form-text text-muted">Buscando...</small>
	</div>	
</div>
