<ng-template #rt let-r="result" let-t="term">
	<div class="d-flex flex-row align-items-center" (click)="blurInput()">
		<img class="col-2 me-3" [src]="r['image_url']" style="width: 3rem" onerror="this.onerror=null;this.src='assets/card-back.png';"/>
		<div class="col d-flex flex-column text-truncate">
			<ngb-highlight [result]="r.name" [term]="t" class="text-truncate"></ngb-highlight>
			<small class="text-muted text-truncate">{{r['expansion_name']}}</small>
			<small class="text-muted text-truncate">{{r.code.default}}</small>
		</div>
	</div>
</ng-template>

<div class="mb-3 row">
	<div class="col">
		<div class="input-group">
			<!-- <span class="input-group-text">
				<fa-icon icon="magnifying-glass"></fa-icon>
			</span> -->
			<input
				id="typeahead-template"
				#cardSearcherInput
				type="text"
				class="form-control"
				[(ngModel)]="model"
				[ngbTypeahead]="search"
				[resultTemplate]="rt"
				[inputFormatter]="formatter"
				[resultFormatter]="formatter"
				[editable]="false"
				placeholder="Escribí acá el nombre de la carta"
				(selectItem)="agregarCarta()"
				(keyup.enter)="blurInput()"
			/>
		</div>
	</div>	
</div>
