/* You can add global styles to this file, and also import other style files */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

.app-container {
	display: flex;
	flex-direction: column;
	min-height: 93vh;
}

@font-face {
	font-family: pixel-digivolve;
	src: url('assets/fonts/Pixel\ Digivolve.otf') format("truetype");
}

@font-face {
	font-family: pixel-digivolve-italic;
	src: url('assets/fonts/Pixel\ Digivolve\ Italic.otf') format("truetype");
}

$border-radius: 0;
$font-family-base: "Montserrat",-apple-system,sans-serif !important;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
	background-color: $gray-200;
}

#ngb-typeahead-0 {
	width: 100%;
    overflow-y: scroll;
    height: 50vh;
}

.cursor-loader {
	cursor: wait;
	* {
		cursor: wait !important;
	}
}

.loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
  }
  
  /* card-info */
  .list-group-item.list-group-item-action .bg-list-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px; 
    height: 100%;
    background-color: $gray-200;
}

.list-group-item.list-group-item-action.card-price-active .bg-list-item {
    background-color: $primary;
}

.no-radius {
	border-radius: 0;
}