/* You can add global styles to this file, and also import other style files */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
}

app-root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

@font-face {
	font-family: pixel-digivolve;
	src: url('assets/fonts/Pixel\ Digivolve.otf') format("truetype");
}

@font-face {
	font-family: pixel-digivolve-italic;
	src: url('assets/fonts/Pixel\ Digivolve\ Italic.otf') format("truetype");
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
	background-color: $gray-200;
}


#ngb-typeahead-0 {
	width: 100%;
    overflow-y: scroll;
    height: 50vh;
}