<nav class="navbar navbar-dark bg-primary py-2">
  <div class="container">
    <a class="py-0" [routerLink]="['/']">
      <span *ngIf="false else logo"></span>
      <div class="brand" [hidden]="!isLoading">
        <img id="brand-logo" src="assets/logo_loading.svg" alt="loading">
      </div>
    </a>
    <div class="d-flex flex-column text-center flex-grow-1">
      <!-- <span class="badge text-bg-primary">Dolar hoy:</span>
      <span class="badge text-bg-primary">{{ dolar.venta | currency }}</span> -->
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-circle rounded-circle text-white" (click)="toggleTheme()">
        <fa-icon [icon]="theme.icon"></fa-icon>
      </button>
    </div>
  </div>
</nav>

<div class="d-flex flex-column loading-screen" [class.d-none]="!isLoading"></div>

<ng-template #logo>
  <div class="brand" [hidden]="isLoading">
    <img id="brand-logo" src="assets/logo.svg" alt="digi-calc">
  </div>
</ng-template>
