<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="navbar-container container-fluid">

    <a class="navbar-brand" href="#">
      <img id="brand-logo" src="assets/logo.png" alt="edesur">
      <span id="app-title">
        Calculadora de precios
      </span>
    </a>


    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarNav">
    </div>
  </div>

</nav>
