<nav class="navbar navbar-dark bg-primary">
  <div class="container justify-content-center">
    <a class="navbar-brand py-0" [routerLink]="['/']">
      <span *ngIf="false else logo"></span>
      <div class="brand" [hidden]="!isLoading">
        <img id="brand-logo" src="assets/logo_loading.svg" alt="loading">
      </div>
    </a>
  </div>
</nav>

<div class="d-flex flex-column loading-screen" [class.d-none]="!isLoading"></div>

<ng-template #logo>
  <div class="brand" [hidden]="isLoading">
    <img id="brand-logo" src="assets/logo.svg" alt="digi-calc">
  </div>
</ng-template>
