$nav-brand-padding: 0.7em;

#app-title {
  padding-left: $nav-brand-padding;
  font-family: pixel-digivolve-italic;
  font-size:small;
}

.brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  display: flex;
  align-items: center;
  padding: 0px;

  & .separator {
    height: 1.2em;
    width: 1px;
    background-color: white;
  }
}

#brand-logo {
  height: 1em;
  padding-right: $nav-brand-padding;
}

.offcanvas-body {
  .nav-item .nav-link {
    opacity: 0.75;
    &.active {
      opacity: 1;
    }
  }
}

.app-nav-btn {
  box-shadow: none;
}