<div class="row" *ngIf="dolar">
	<div class="alert alert-info">
		<fa-icon icon="money-bill-trend-up"></fa-icon> Dolar hoy: ARS {{ dolar.venta | currency}}
	</div>

	<app-card-searcher *ngIf="!id" (card)="onCardAdded($event)"></app-card-searcher>

	<div class="row" *ngIf="selectedCard && dolar">
		<app-card-info [data]="selectedCard" [dolar]="dolar"></app-card-info>
	</div>

	<div ngbAccordion #accordion="ngbAccordion" [closeOthers]="true">
		<div *ngFor="let item of cards; let index = index" ngbAccordionItem="{{item.tcg_player_id}}" id="{{item.tcg_player_id}}" [destroyOnHide]="false"  [collapsed]="false">
			<div ngbAccordionHeader class="accordion-button custom-header py-1">
				<div class="fw-bold w-100 d-flex flex-column justify-content-start flex-md-row justify-content-md-between align-items-md-center">
					<p class="m-0 flex-fill w-auto text-truncate" ngbAccordionToggle (click)="calcularPrecioTotal()">{{ getCardMiniInfo(item) }}</p>
					<p class="m-0 text-start text-md-end me-3">
						ARS {{ item.price.currency_value | currency }}
					</p>
					<div class="text-end">
						<button type="button" class="btn btn-sm no-radius" (click)="changeMultiplier(item, -1)">
							<fa-icon icon="minus"></fa-icon>
						</button>
						<span class="badge rounded-pill bg-danger">
							x{{ item.multiplier }}
						</span>
						<button type="button" class="btn btn-sm no-radius" (click)="changeMultiplier(item, 1)">
							<fa-icon icon="plus"></fa-icon>
						</button>
						<button type="button" class="btn btn-sm no-radius ms-3" (click)="removeCard(item)">
							<fa-icon icon="trash"></fa-icon>
						</button>
					</div>
				</div>
			</div>
			<div ngbAccordionCollapse>
				<div ngbAccordionBody>
				<ng-template>
					<app-card-info [data]="item" [dolar]="dolar"></app-card-info>
				</ng-template>
				</div>
			</div>
		</div>
	</div>

	<div class="mt-3 text-end" *ngIf="precioTotal !== 0">
		<div class="alert alert-light">
			<h3>Precio total: <strong>ARS {{ precioTotal | currency}}</strong></h3>
		</div>
		<!-- <button type="button" class="btn btn btn-primary btn-sm no-radius ms-2" (click)="generateUrl()" ngbTooltip="URL Copiada :)" [autoClose]="'outside'" triggers="click">
			Compartir URL <fa-icon icon="share-from-square"></fa-icon>
		</button> -->
	</div>	
</div>	
